.container {
    font-family: Hack;
    font-size: 18px;
}

.cava {
    padding: 0px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 8px;
    border-radius: 10px;
    color: #7dcfff;
    background: #1a1b26;
    opacity: 0.8;
}

.background {
    background-color: rgba(0, 0, 0, 0);
}

.bluetooth {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: #ff757f;
    background: #1a1b26;
    opacity: 0.8;
    border: 1px solid #424242;
}
/* cpu */
.sysinfo .item:nth-child(1) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0px;
    border-radius: 10px;
    color: #ff9e64;
    background: #1a1b26;
    opacity: 0.8;
}
/* memory */
.sysinfo .item:nth-child(2) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0px;
    border-radius: 10px;
    color: #7dcfff;
    background: #1a1b26;
    opacity: 0.8;
}
/* temp */
.sysinfo .item:nth-child(3) {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 10px;
    color: #bb9af7;
    background: #1a1b26;
    opacity: 0.8;
}

.volume {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: #9abdf5;
    background: #1a1b26;
    opacity: 0.8;
}

.popup-volume {
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    color: #c0caf5;
    /* background: #1a1b26; */
    background-color: rgba(26, 27, 38, 0.8);
    border: 2px solid #bb9af7;
}

.weather,
.kbdd {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 8px;
    border-radius: 10px;
    color: #ff9e64;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.clock {
    font-family: CaskaydiaCove Nerd Font;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 10px;
    color: #7dcfff;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.clock_date {
    color: rgb(94, 129, 172);
}

.popup-clock {
    font-weight: bolder;
    background-color: rgba(26, 27, 38, 0.8);
    border-radius: 10px;
    border: 2px solid #bb9af7;
}

.popup-clock .calendar-clock {
    color: #c0caf5;
    font-size: 1.5em;
    padding-bottom: 0em;
}

.popup-clock .calendar {
    background-color: rgba(26, 27, 38, 0.8);
    color: #c0caf5;
    padding-bottom: 0.1em;
    border-radius: 10px;
}

.popup-clock .calendar .header {
    border-top: 1px solid #424242;
    font-size: 1.5em;
}

.popup-clock .calendar:selected {
    background-color: #3d59a1;
}

.focused {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    color: #c3e88d;
    background: #1a1b26;
    opacity: 0.8;
}

.clipboard {
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
    color: #9abdf5;
    background: #1a1b26;
    opacity: 0.8;
}

.popup-clipboard {
    margin-left: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #c0caf5;
    background: #1a1b26;
    background-color: rgba(26, 27, 38, 0.8);
    border: 2px solid #bb9af7;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.script {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
    color: #9abdf5;
    background: #1a1b26;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.script:hover {
    color: #7dcfff;
    background: #1a1b26;
    border-radius: 10px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

.music {
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    color: #bb9af7;
    background: #1a1b26;
    opacity: 0.8;
}
.popup-music {
    margin-left: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: #c0caf5;
    background: #1a1b26;
    background-color: rgba(26, 27, 38, 0.8);
    border: 2px solid #bb9af7;
}

.popup-music.volume {
}
.popup-music .volume .slider {
    padding: 2px 2px 2px 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.popup-music .volume .icon {
}

tooltip.background {
    background-color: rgba(00, 00, 00, 0.5);
    font-size: 18px;
    border-radius: 10px;
    color: #fdfdfd;
}

tooltip * {
    padding: 4px;
    background-color: transparent;
    color: white;
}

.host tooltip {
    background-color: rgba(255, 00, 00, 0.5);
}

.upower {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0px;
    border-radius: 10px;
    color: #ff757f;
    background: #1a1b26;
    background-size: 1em;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

.network_manager {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 8px;
    border-radius: 10px;
    background: #5f5a92;
    opacity: 0.8;
}
.network_manager:hover {
    color: #7dcfff;
    background: #1a1b26;
    border-radius: 10px;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

.power-menu {
    padding: 0px 10px 0px 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 10px;
    color: #9abdf5;
    background: #1a1b26;
    opacity: 0.8;
    border: 1px solid #424242;
}

.power-menu #power-btn {
    background: transparent;
    border: 0;
}

.popup-power-menu {
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    color: #c0caf5;
    background-color: rgba(26, 27, 38, 0.8);
    border: 2px solid #bb9af7;
}

.popup-power-menu .power-btn {
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 20px;
    background: transparent;
    border: 1px solid #bb9af7;
}

.popup-power-menu .power-btn:hover {
    background-color: #5800b0;
}

.tray {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 10px;
    opacity: 0.8;
    background: #1a1b26;
    background-size: 1em;
    border: 1px solid #424242;
}

.notifications {
    opacity: 0.8;
}

.notifications .count {
}

.launcher .item {
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    opacity: 0.8;
    background: #1a1b26;
    border: 1px solid #424242;
}

.launcher .item.open {
    margin-left: 5px;
    margin-right: 0px;
    border: 1px solid #5800b0;
}

.launcher .item.focused {
    border: 1px solid #940488;
}
